@font-face {
	font-family: qardos;
	src: url(../fonts/qardoos.otf);
}
html {
	border-style: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	font-family: lato;
	background-image: url(../images/wrapper.png);
	background-size: cover;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
	color: #fff;
}
.container {
	margin: 0 50px;
}
.header {
	transition: 0.5s;
	background-color: #eb6e08;
	color: #fff;
	width: 100%;
	height: 100px;
	margin: 15px 0 30px 0;
	display: flex;
	justify-content: space-between;
}
.logo {
	font-size: 30px;
	margin: 25px 5px 15px 50px;
	width: 210px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	font-family: "PP Woodland";
}
.logo__img {
	background-image: url(../images/corona.png);
	background-size: cover;
	height: 35px;
	width: 40px;
	position: absolute;
	top: -16px;
	left: -12px;
}
.logo__left {
	text-align: left;
}
.logo__right {
	text-align: right;
}
.menu {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-style: medium;
}
.menu__list {
	display: flex;
	margin-right: 50px;
	justify-content: center;
	align-items: center;
}
.menu__list_cols {
	font-size: 17px;
	padding: 15px 30px;
}
.menu__list_item {
	padding: 5px 0px;
	transition: 0.1s;
}
.menu__list_item:hover {
	border-bottom: 4px solid #000;
}
.menu__button {
	display: none;
	border: 1px solid #fff;
	background-color: transparent;
	height: 35px;
	width: 45px;
	margin-right: 30px;
	margin-top: 30px;
	border-radius: 5px;
}
.menu__button__change {
	align-self: none;
}
.menu__change {
	position: absolute;
	bottom: 70px;
	left: 0;
	z-index: 7;
	width: 100%;
	justify-content: space-around !important;
	z-index: 5;
	animation: fadeIn 2s;
	/* transition: 2s; */
	transform: translateY(50px);
	display: flex !important;
}
.header__change {
	position: relative;
	transition: 0.5s;
	height: 180px;
}

.lines {
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.line {
	border-radius: 24px;
	align-self: center;
	height: 2px;
	width: 80%;
	margin: 2px 0;
	background-color: #fff;
}
/*slider*/
.slider {
	width: 100%;
	margin-bottom: -120px;
	position: relative;
	color: #fff;
}
.slider__item {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 78vh;
	display: flex;
}
.slider__item-headline {
	font-family: qardos;
	text-align: center;
	padding: 110px 0 50px 0px;
}
.slider__item-headline h3 {
	font-size: 105px;
}
.slider__item-headline span {
	font-size: 45px;
}
.slider__item-about {
	font-size: 13px;
	text-align: center;
	width: 30%;
	margin: 0 auto;
}
.slick-slider {
	position: relative;
}
.slick-arrow {
	background-color: rgba(34, 26, 21, 0);
	color: transparent;
	border: none;
	position: absolute;
	height: 77%;
	width: 50%;
}
.slick-next {
	top: 0;
	right: 0;
	z-index: 3;
}
.slick-prev {
	top: 0;
	left: 0;
	z-index: 3;
}
/* meals */
.meal {
	position: relative;
	top: 150px;
	z-index: 5;
	background: rgb(180, 180, 180);
	background: radial-gradient(
		circle,
		rgba(180, 180, 180, 1) 0%,
		rgba(241, 241, 241, 1) 100%
	);
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.meal__head {
	font-size: 25px;
	display: flex;
	justify-content: space-around;
	width: 75%;
	margin: 0 auto;
	color: #6d6c6c;
	animation: fadeIn 1s;
}
.meal__head-item {
	margin: 5px 0;
	cursor: pointer;
}
.meal__head-item.active {
	color: #000;
}
.meal__body {
	display: flex;
	justify-content: space-around;
	margin: 0px auto;
	border-bottom: 3px solid #ff7b02;
	border-top: 3px solid #ff7b02;
}

.meal__body-line {
	margin: 15px 0;
	border: 2px dashed #000;
	height: 155px;
	width: 160px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	position: relative;
	cursor: pointer;
	transition: 0.3s;
}
.meal__body-line:hover {
	transform: rotate(5deg);
	transition-timing-function: ease-in-out;
}

.meal__body-back {
	display: flex;
	justify-content: center;
	align-self: center;
	height: 145px;
	width: 150px;
	border-radius: 50%;
	background-image: linear-gradient(
		to top,
		rgba(255, 196, 1, 1) 0%,
		rgba(255, 113, 2, 1) 100%
	);
}
.meal__body-food {
	align-self: center;
	height: 115px;
	width: 120px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.meal__price-bg {
	position: absolute;
	top: -15px;
	background-color: #2a622a;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}
.meal__price {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 42px;
	width: 42px;
}
.meal__list {
	display: flex;
	width: 90%;
	justify-content: space-around;
	animation: zoomIn 0.5s;
}
.meal__list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.meal__headline {
	font-weight: bold;
	font-size: 30px;
	margin: 0 0 5px 0;
	text-transform: capitalize;
}
.meal__about {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.meal-2,
.meal-3 {
	display: none;
}
/* formula */
.formula {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	position: relative;
	top: 150px;
}
.formula__form {
	margin-right: 50px;
	width: 330px;
	background-image: linear-gradient(
		to right,
		rgba(255, 110, 2, 1) 0%,
		rgba(191, 86, 20, 1) 50%,
		rgba(67, 38, 55, 1) 100%
	);
}

.formula__form {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 0 55px 35px 35px;
}
.form__access {
	border: none;
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.55);
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(
		to right,
		rgba(218, 111, 6, 1) 0%,
		rgba(234, 142, 5, 1) 50%,
		rgba(248, 169, 4, 1) 100%
	);
	height: 40px;
	width: 160px;
	border-radius: 24px;
	text-align: center;
	color: #fff;
	transition: 0.5s;
}
.form__access:hover {
	box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 1);
}
.form__blog {
	text-align: left;
	color: #171717;
	margin-top: 3px;
}
.form__wrap-name {
	margin-top: 5px;
}
.form__wrap {
	display: flex;
	flex-direction: column;
}
.form__wrap-box {
	border-radius: 4px;
	margin-top: 5px;
	width: 240px;
	height: 40px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.56);
	border: none;
}
.formula__receipt {
	background-image: url(../images/filter.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
.filter {
	text-align: center;
	color: #fff;
	background-position: center;
	background-image: url(../images/book.png);
	background-repeat: no-repeat;
	background-size: 140%;
	width: 60%;
}
.receipt__headline {
	font-size: 30px;
	padding: 45px 0 35px 0;
}
.receipt__text {
	width: 70%;
	margin: 0px auto;
	font-size: 16px;
}
/* foooter */
.footer {
	position: relative;
	top: 150px;
	background-color: #04061c;
	color: #fff;
	padding: 5px 0 15px 0;
}
.footer__wrap {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: flex;
	justify-content: space-around;
}
.footer__connect {
	margin-top: 20px;
}
.footer__big-text {
	width: 45%;
	margin-left: -156px;
}
.footer__text {
	margin-left: 40px;
	font-family: "Lato Light";
	letter-spacing: 2px;
	line-height: 20px;
	width: 100%;
	text-align: center;
	font-size: 13px;
}
.footer-logo {
	font-size: 18px;
	width: 150px;
}
.footer__img {
	height: 25px;
	width: 30px;
	top: -13px;
	left: -9px;
}
.footer__connect-headline {
	font-size: 23px;
	font-family: "Lato Light";
	width: 350px;
	margin-left: -65px;
	margin-bottom: 30px;
}
.footer__connect-item {
	margin: 10px 0;
}
.footer__connect-items {
	display: flex;
}
.connect__items-icon {
	width: 25px;
	height: 25px;
}
.connect__items-info {
	padding: 5px 7px;
	font-size: 9px;
	align-self: center;
}
@media (max-width: 1021px) {
	.logo {
		font-size: 25px;
	}
	.logo__img {
		height: 25px;
		left: -15px;
	}
	.formula {
		flex-direction: column;
	}
	.formula__form {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.form__wrap-box {
		margin: 0 auto;
		width: 540px;
	}
	.filter {
		background-size: 110%;
		width: 100%;
		height: 50vh;
		margin: 0 auto;
	}
	.form__wrap-name {
		text-align: center;
		margin: 10px 0;
	}
	.form__access {
		margin: 30px auto;
	}
	.slider__item-headline {
		padding: 50px 0 15px 0px;
	}
	.slider__item-about {
		font-size: 13px;
	}
	.meal {
		top: 50px;
	}
	.formula {
		top: 50px;
	}
	.formula__form {
		width: 90%;
	}
	.footer {
		top: 50px;
	}

	.footer-logo {
		padding-left: 45px;
	}
	.footer__img {
		left: 35px;
		height: 25px;
	}
	.footer__text {
		margin-left: 100px;
		margin-bottom: 10px;
	}
}

/* media */

@media (max-width: 986px) {
	.slider__item-headline h3 {
		font-size: 60px;
	}

	.slider__item-headline {
		padding: 50px 0 15px 0px;
	}
	.logo__img {
		height: 45px;
		top: -22px;
		left: -17px;
	}
	.logo__left {
		width: 35px;
	}

	.menu__list {
		display: none;
	}
	.menu__button {
		display: flex;
	}
	.slider__item-about {
		font-size: 11px;
	}
	.meal {
		top: 30px;
	}
	.meal__head {
		font-size: 23px;
		justify-content: space-between;
		width: 80%;
	}
	.receipt__text {
		font-size: 14px;
	}
	.formula {
		top: 30px;
	}
	.form__wrap-box {
		width: 100%;
	}
	.formula__form {
		width: 80%;
	}
	.footer {
		justify-content: center;
	}
	.footer-logo {
		display: flex;
		justify-content: center;
	}
	.footer__wrap {
		align-items: center;
		flex-direction: column;
	}
	.footer__connect-headline {
		width: 100%;
		margin-left: 0;
		font-size: 35px;
	}
	.footer__big-text {
		display: flex;
		justify-content: center;
		margin-left: -110px;
	}
	.logo__right,
	.logo__left {
		text-align: right;
		font-size: 35px;
	}

	.footer__connect {
		text-align: center;
	}
	.footer__connect-item {
		justify-content: center;
	}

	.footer-logo {
		padding-left: 45px;
	}
	.footer__img {
		left: 15px;
		width: 40px;
	}
	.footer__text {
		display: none;
	}
	.connect__items-icon {
		width: 30px;
		height: 30px;
	}
	.connect__items-info {
		font-size: 10px;
	}
}
@media (max-width: 768px) {
	.menu__list_cols {
		font-size: 13px;
	}
	.slider__item-headline {
		display: flex;
		justify-content: center;
		align-self: center;
		flex-direction: column;
	}
	.slider__item-about {
		display: none;
	}
	.meal {
		top: -50px;
	}
	.meal__head {
		font-size: 20px;
		width: 95%;
	}
	.meal__body-line {
		height: 125px;
		width: 130px;
	}
	.meal__body-back {
		height: 115px;
		width: 120px;
	}
	.meal__body-food {
		align-self: center;
		height: 105px;
		width: 110px;
	}

	.meal__about {
		font-size: 9px;
	}
	.formula {
		top: -30px;
	}
}
@media (max-width: 586px) {
	.logo__img {
		left: -17px;
	}

	.header__change {
		height: 60vh;
	}
	.menu__list {
		flex-direction: column;
		margin-bottom: 30px;
	}
	.menu__list_cols {
		font-size: 18px;
	}
	.meal__list {
		flex-direction: column;
	}
	.meal {
		top: -150px;
	}
	.meal__head {
		font-size: 30px;
		width: 95%;
		flex-direction: column;
		text-align: center;
	}
	.meal__body-line {
		height: 135px;
		width: 140px;
	}
	.meal__body-back {
		height: 125px;
		width: 130px;
	}
	.meal__body-food {
		align-self: center;
		height: 115px;
		width: 120px;
	}
	.meal__about {
		display: none;
	}
	.receipt__text {
		font-size: 13px;
	}
	.formula {
		top: -100px;
		margin-bottom: -100px;
	}
	.footer__img {
		left: 15px;
	}
	.filter {
		height: 40vh;
	}
}
